site_name: Kuadrant Documentation
site_url: https://docs.kuadrant.io/
repo_url: https://github.com/kuadrant/docs.kuadrant.io
edit_uri: edit/main/docs/
theme:
  name: material
  logo: assets/images/logo.png
  custom_dir: overrides
  features:
    - content.action.edit
    - content.code.copy
extra_css:
  - assets/stylesheets/extra.css
watch:
  - overrides
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - footnotes
  - admonition
  - pymdownx.details
  - toc:
      permalink: true
plugins:
  - search
  - multirepo:
      cleanup: true
      keep_docs_dir: true
      nav_repos:
        - name: kuadrant-operator
          import_url: 'https://github.com/kuadrant/kuadrant-operator?edit_uri=/blob/main/&branch=main'
          imports:
            - /README.md
            - /doc/*
            - /config/samples/*
            - /examples/*
        - name: authorino
          import_url: 'https://github.com/kuadrant/authorino?edit_uri=/blob/main/&branch=main'
          imports:
            - /README.md
            - /docs/*
            - /docs/user-guides/*
            - /install/crd/*
        - name: authorino-operator
          import_url: 'https://github.com/kuadrant/authorino-operator?edit_uri=/blob/main/&branch=main'
          imports:
            - /README.md
        - name: limitador
          import_url: 'https://github.com/kuadrant/limitador?edit_uri=/blob/main/&branch=main'
          imports:
            - /README.md
            - /doc/*
            - /limitador-server/README.md
            - /limitador-server/docs/*
            - /limitador/README.md
            - /limitador-server/kubernetes/*
            - /limitador-server/sandbox/*
            - /LICENSE
        - name: limitador-operator
          import_url: 'https://github.com/kuadrant/limitador-operator?edit_uri=/blob/main/&branch=main'
          imports:
            - /README.md
            - /doc/*
        - name: multicluster-gateway-controller
          import_url: 'https://github.com/kuadrant/multicluster-gateway-controller?edit_uri=/blob/main/&branch=main'
          imports:
            - /README.md
            - /docs/*
        - name: architecture
          import_url: 'https://github.com/kuadrant/architecture?edit_uri=/blob/main/&branch=main'
          imports:
            - /rfcs/*
            - /docs/*
        - name: api-quickstart
          import_url: 'https://github.com/kuadrant/api-quickstart?edit_uri=/blob/main/&branch=main'
          imports:
            - /README.md
            - /images/*
        - name: kuadrantctl
          import_url: 'https://github.com/kuadrant/kuadrantctl?edit_uri=/blob/main/&branch=main'
          imports:
            - /README.md
            - /doc/*
        - name: dns-operator
          import_url: 'https://github.com/kuadrant/dns-operator?edit_uri=/blob/main/&branch=main'
          imports:
            - /README.md
            - /docs/*
            - /config/samples/*
nav:
  - 'Overview': index.md
  - 'Getting Started':
    - 'Single-Cluster': getting-started-single-cluster.md
    - 'Multi-Cluster': getting-started-multi-cluster.md
  - 'Architecture': architecture/docs/design/architectural-overview-v1.md
  - 'Installation':
    - 'OpenShift': kuadrant-operator/doc/install/install-openshift.md
  - 'Concepts and APIs':
    - 'DNSPolicy':
      - 'Reference': kuadrant-operator/doc/reference/dnspolicy.md
      - 'Gateway DNS for Cluster Operators': kuadrant-operator/doc/user-guides/gateway-dns.md
    - 'ManagedZone':
      -  'Overview': dns-operator/docs/managedzone.md
      -  'Reference': dns-operator/docs/reference/managedzone.md
    - 'TLSPolicy':
      - 'Overview': kuadrant-operator/doc/tls.md
      - 'Reference': kuadrant-operator/doc/reference/tlspolicy.md
    - 'AuthPolicy':
      - 'Overview': kuadrant-operator/doc/auth.md
      - 'Reference': kuadrant-operator/doc/reference/authpolicy.md
    - 'RateLimitPolicy':
      - 'Overview': kuadrant-operator/doc/rate-limiting.md
      - 'Reference': kuadrant-operator/doc/reference/ratelimitpolicy.md
  - 'How-to Guides':
    - 'Secure, connect and protect': kuadrant-operator/doc/user-guides/secure-protect-connect-single-multi-cluster.md
    - 'DNS configuration and load balancing':
      - 'DNS Health Checks': kuadrant-operator/doc/dnshealthchecks.md
      # - 'DNS Providers': multicluster-gateway-controller/docs/dnspolicy/dns-provider.md # TODO: this seems to have been lost recently
      - 'Advanced DNS based LoadBalancing': multicluster-gateway-controller/docs/how-to/multicluster-loadbalanced-dnspolicy.md
    - 'TLS configuration':
      - 'Gateway TLS for Cluster Operators': kuadrant-operator/doc/user-guides/gateway-tls.md
    - 'Authentication & Authorization':
      - 'AuthPolicy for Application Developers and Platform Engineers': kuadrant-operator/doc/user-guides/auth-for-app-devs-and-platform-engineers.md
      - 'Authentication with Kubernetes tokens (TokenReview API)': authorino/docs/user-guides/kubernetes-tokenreview.md
      - 'Authentication with API keys': authorino/docs/user-guides/api-key-authentication.md
      - 'Authentication with X.509 certificates and mTLS': authorino/docs/user-guides/mtls-authentication.md
      - 'OpenID Connect Discovery and authentication with JWTs': authorino/docs/user-guides/oidc-jwt-authentication.md
      - 'OAuth 2.0 token introspection (RFC 7662)': authorino/docs/user-guides/oauth2-token-introspection.md
      - 'Passing credentials (`Authorization` header, cookie headers and others)': authorino/docs/user-guides/passing-credentials.md
      - 'HTTP "Basic" Authentication (RFC 7235)': authorino/docs/user-guides/http-basic-authentication.md
      - 'Anonymous access': authorino/docs/user-guides/anonymous-access.md
      - 'Token normalization': authorino/docs/user-guides/token-normalization.md
      - 'Edge Authentication Architecture (EAA)': authorino/docs/user-guides/edge-authentication-architecture-festival-wristbands.md
      - 'Fetching auth metadata from external sources': authorino/docs/user-guides/external-metadata.md
      - 'OpenID Connect UserInfo': authorino/docs/user-guides/oidc-user-info.md
      - 'Resource-level authorization with User-Managed Access (UMA) resource registry': authorino/docs/user-guides/resource-level-authorization-uma.md
      - 'Simple pattern-matching authorization policies': authorino/docs/user-guides/json-pattern-matching-authorization.md
      - 'OpenID Connect (OIDC) and Role-Based Access Control (RBAC) with Keycloak': authorino/docs/user-guides/oidc-rbac.md
      - 'Open Policy Agent (OPA) Rego policies': authorino/docs/user-guides/opa-authorization.md
      - 'Kubernetes RBAC for service authorization (SubjectAccessReview API)': authorino/docs/user-guides/kubernetes-subjectaccessreview.md
      - 'Authorization with Keycloak Authorization Services': authorino/docs/user-guides/keycloak-authorization-services.md
      - 'Integration with Authzed/SpiceDB': authorino/docs/user-guides/authzed.md
      - 'Injecting data in the request': authorino/docs/user-guides/injecting-data.md
      - 'Emitting Envoy Dynamic Metadata': authorino/docs/user-guides/authenticated-rate-limiting-envoy-dynamic-metadata.md
      - 'Redirecting to a login page': authorino/docs/user-guides/deny-with-redirect-to-login.md
      - 'Reusing Envoy built-in authentication filter result': authorino/docs/user-guides/envoy-jwt-authn-and-authorino.md
      - 'Setting up Kuadrant authorization service as a Validating Webhook': authorino/docs/user-guides/validating-webhook.md
      - 'Caching': authorino/docs/user-guides/caching.md
    - 'Rate Limiting':
      - 'RateLimitPolicy for Application Developers': multicluster-gateway-controller/docs/how-to/simple-ratelimitpolicy-for-app-developers.md
      - 'RateLimitPolicy for Platform Engineers': kuadrant-operator/doc/user-guides/gateway-rl-for-cluster-operators.md
      - 'Authenticated Rate Limiting for Application Developers': kuadrant-operator/doc/user-guides/authenticated-rl-for-app-developers.md
      - kuadrant-operator/doc/user-guides/authenticated-rl-with-jwt-and-k8s-authnz.md
    - 'Observability':
      - 'Metrics': kuadrant-operator/doc/observability/metrics.md
      - 'Dashboards and Alerts': kuadrant-operator/doc/observability/examples.md
      - 'Tracing': kuadrant-operator/doc/observability/tracing.md
      - 'Authentication and Authorization': authorino/docs/user-guides/observability.md
    - 'Multicluster Gateways with OCM':
      - 'Getting Started with OCM': getting-started-multi-cluster-ocm.md
      - 'Distributing Gateways with OCM': multicluster-gateway-controller/docs/gateways/define-and-place-a-gateway.md
      - 'Gateway Deletion': multicluster-gateway-controller/docs/gateways/gateway-deletion.md
      - 'Multicluster Walkthrough': multicluster-gateway-controller/docs/how-to/multicluster-gateways-walkthrough.md
      - 'Control Plane installation with Existing OCM': multicluster-gateway-controller/docs/installation/control-plane-installation.md
      - 'Service Protection installation with Existing OCM': multicluster-gateway-controller/docs/installation/service-protection-installation.md
  - 'Experimental':
    - 'API Quickstart': 'api-quickstart/README.md'
  - 'Proposals':
    - 'Request For Comments (RFC)':
      - 'RFC 0001: RateLimitPolicy API "v2"': architecture/rfcs/0001-rlp-v2.md
      - 'RFC 0002: Well-known Attributes': architecture/rfcs/0002-well-known-attributes.md
      - 'RFC 0003: DNSPolicy': architecture/rfcs/0003-dns-policy.md
      - 'RFC 0004: Policy Status': architecture/rfcs/0004-policy-status.md
      - 'RFC 0005: Single Cluster DNSPolicy': architecture/rfcs/0005-single-cluster-dnspolicy.md
      - 'RFC 0006: Configuration of Kuadrant Sub Components': architecture/rfcs/0006-kuadrant_sub_components_configurations.md
      - 'RFC 0007: Policy Sync': architecture/rfcs/0007-policy-sync-v1.md
      - 'RFC 0008: Kuadrant Release Process': architecture/rfcs/0008-kuadrant-release-process.md
      - 'RFC 0009: Defaults & Overrides': architecture/rfcs/0009-defaults-and-overrides.md
    - 'Multicluster Gateway Controller':
      - 'Multiple DNS Provider Support':
        - 'Overview': multicluster-gateway-controller/docs/proposals/multiple-dns-provider-support.md
        - 'Google DNS': multicluster-gateway-controller/docs/proposals/assets/multiple-dns-provider-support/google/google.md
        - 'AWS DNS': multicluster-gateway-controller/docs/proposals/assets/multiple-dns-provider-support/aws/aws.md
        - 'Azure DNS': multicluster-gateway-controller/docs/proposals/assets/multiple-dns-provider-support/azure/azure.md
      - 'Aggregation of Status Conditions': multicluster-gateway-controller/docs/proposals/status-aggregation.md
  - 'Components':
    - 'Kuadrant Operator':
      - 'Overview': kuadrant-operator/README.md
      - "Developer's Guide": kuadrant-operator/doc/development.md
      - kuadrant-operator/doc/logging.md
    - 'Authorino':
      - 'Overview': authorino/README.md
      - 'Authorino Operator': authorino-operator/README.md
      - 'Getting Started': authorino/docs/getting-started.md
      - 'Hello World': authorino/docs/user-guides/hello-world.md
      - 'Architecture': authorino/docs/architecture.md
      - 'Reference': authorino/docs/features.md
      - 'Advanced features':
        - 'Host override via context extension': authorino/docs/user-guides/host-override.md
        - 'Reducing the operational space: sharding, noise and multi-tenancy': authorino/docs/user-guides/sharding.md
      - "Developer's Guide": authorino/docs/contributing.md
    - 'Limitador':
      - 'Overview': limitador/README.md
      - 'How it works': limitador/doc/how-it-works.md
      - 'Topologies': limitador/doc/topologies.md
      - 'Server':
        - 'Overview': limitador/limitador-server/README.md
        - 'Kubernetes': limitador/limitador-server/kubernetes/README.md
        - 'Sandbox': limitador/limitador-server/sandbox/README.md
      - 'Crate': limitador/limitador/README.md
      - 'Limitador Operator':
        - 'Overview': limitador-operator/README.md
        - 'Storage': limitador-operator/doc/storage.md
        - 'Rate limit headers': limitador-operator/doc/rate-limit-headers.md
        - "Developer's Guide": limitador-operator/doc/development.md
        - limitador-operator/doc/logging.md
    - 'Multicluster Gateway Controller':
      - 'Overview': multicluster-gateway-controller/README.md
      - 'Contribution':
        - 'Debugging with VSCode': multicluster-gateway-controller/docs/contribution/vscode-debugging.md
    - 'kuadrantctl':
      - 'Getting Started': kuadrantctl/README.md
      - 'Generating Gateway API HTTPRoutes': kuadrantctl/doc/generate-gateway-api-httproute.md
      - 'Generating Kuadrant AuthPolicies': kuadrantctl/doc/generate-kuadrant-auth-policy.md
      - 'Generating Kuadrant RateLimitPolicies': kuadrantctl/doc/generate-kuadrant-rate-limit-policy.md
      - 'CI/CD with kuadrantctl & Tekton': kuadrantctl/doc/kuadrantctl-ci-cd.md
      - 'Using Apicurio Studio with Kuadrant OAS extensions': kuadrantctl/doc/openapi-apicurio.md
      - 'Using OpenShift Dev Spaces with Kuadrant OAS extensions': kuadrantctl/doc/openapi-openshift-dev-spaces.md
