<footer id="footer" class="footer">
  <div class="copyright">
    <p>Copyright <strong><span>The Kuadrant Contributors</span></strong>.</p>
    <p>The Linux Foundation® (TLF) has registered trademarks and uses trademarks.</p> 
    <p>For a list of TLF trademarks, see <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage</a></p>
  </div>

  <div class="sponsored-by">
    <p>
      <a href="https://www.cncf.io/sandbox-projects/"><img src="/assets/images/cncf-color.png" class="logo" alt="CNCF logo"></a>
    </p>
    <p>
      We are a Cloud Native Computing Foundation sandbox project.
    </p>
  </div>
</footer>
