.md-header--shadow {
  background-color: #37517e;
  padding: 1em;
}

#footer {
  background: #37517e;
	color: #fff;
	padding: 2.3em;
}

#footer .copyright {
	font-size: 1.4em;
	float: left;
}

#footer .sponsored-by {
  float: right;
  margin-top: 24px;
}

#footer .sponsored-by p {
	font-size: 1em;
  line-height: 2em;
  margin: 0;
}

#footer .sponsored-by .logo {
  height: auto;
  max-width: 20em;
  vertical-align: middle;
}
